[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter = "*"
scipy = "*"
matplotlib = "*"
h5py = "*"
tensorflow = "*"
pandas = "*"
scikit-learn = "*"
torch = "*"
opencv-python = "*"
keras = "*"
pydot = "*"
graphviz = "*"
tensorflow-gpu = "*"
jupyter-http-over-ws = "*"

[dev-packages]

[requires]
python_version = "3.8"
